.contato {
  width: 1214px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.contato h1 {
  margin-top: 54px;
  margin-bottom: 27px;
  text-align: center;
}
.contato h2 {
  text-align: center;
  text-transform: capitalize;
  color: #421f20;
  font-size: 24px;
}
.box {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}
.box-redes {
  padding: 80px 40px;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  text-align: center;
}
.box-redes:hover {
  box-shadow: 15px 16px 9px 1px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}
.box-redes h2 {
  font-size: 36px;
  color: #568265;
  margin-bottom: 40px;
}
.end-tel {
  display: flex;
  padding: 0 20px;
  margin: 40px 0 80px 0;
  justify-content: space-between;
}
.end-tel-txt {
  width: 600px;
}
.end-tel h2 {
  font-size: 48px;
  text-align: left;
  color: #568265;
  margin-bottom: 15px;
}
.end-tel h3 {
  font-size: 36px;
  color: #421f20;
}
.end-tel-txt-2 {
  text-align: right;
}
.end-tel-txt-2 h2 {
  text-align: right;
}
.bandelora {
  transform: rotate(-180deg);
}

@media only screen and (max-width: 1250px) {
  .contato {
    width: 100%;
  }
  .contato > img {
    display: none;
  }
  .box {
    flex-direction: column;
  }
  .box-redes {
    padding: 60px 20px;
    max-width: 700px;
    min-width: 300px;
    margin: 0 auto;
  }
  .box-redes img {
    max-width: 150px;
  }
  .box-redes h2 {
    font-size: 26px;
  }
  .end-tel h2 {
    font-size: 26;
  }
  .end-tel h3 {
    font-size: 20px;
  }
}
