body {
  background-color: #f4f5f7;
  font-family: "Nunito", sans-serif;
}
h1 {
  font-family: "Freckle Face", cursive;
  font-size: 48px;
  color: #568265;
}
h2 {
  font-size: 36px;
  font-weight: bold;
}

/* -PROMO  */

.promo {
  background: #568265;
}
.promo p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
}
@media only screen and (min-width: 500px) and (max-width: 979px) {
  .promo p {
    font-size: 12px;
  }
}

/* -HEADER  */

.header-bg {
  background-color: #f4f5f7;
  filter: drop-shadow(1px 4px 9px rgba(0, 0, 0, 0.15));
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.header {
  width: 1214px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px;
}
.menu {
  align-self: center;
}
.menu ul {
  display: flex;
}
.menu ul li {
  margin-left: 50px;
}
.menu ul li a {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: #421f20;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 5px;
}
.menu ul li a:hover {
  color: #fbcc35;
  transition: 0.3s;
}
.icon {
  display: none;
}

@media only screen and (max-width: 1250px) {
  .header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px;
  }
  .menu {
    margin: 30px 0 20px 0;
  }
  .menu ul li:nth-child(n + 0):nth-child(-n + 3) {
    margin-left: 10px;
  }
  .menu ul li a {
    font-size: 14px;
    border: 2px solid #fbcc35;
    border-radius: 5px;
    padding: 6px 10px;
  }
}

/* -MAIN  */

.main {
  background: url(../img/main-img.png) no-repeat;
  background-size: cover;
  height: 583px;
  background-position: center;
}
.main-texto {
  text-align: center;
  width: 668px;
  margin: 0 auto;
  position: relative;
  top: 50%;
}
.main-texto h1 {
  font-family: "Freckle Face", cursive;
  font-size: 64px;
  color: #421f20;
  text-transform: uppercase;
  line-height: 80px;
  margin-bottom: 40px;
}
.main-texto span {
  color: #568265;
}

.btn {
  border: none;
  color: #421f20;
  font-size: 24px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  padding: 8px 50px;
  background-color: #fbcc35;
  border-radius: 5px;
}
.btn:hover {
  background-color: #568265;
  color: white;
  transition: 0.3s;
}

@media only screen and (min-width: 500px) and (max-width: 979px) {
  .main {
    background-position: center;
    height: 400px;
  }
  .main-texto {
    width: 350px;
    top: 40%;
  }
  .main-texto h1 {
    font-size: 30px;
    line-height: 50px;
  }
  .btn {
    font-size: 20px;
    padding: 6px 30px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 26px;
    font-weight: bold;
  }
}

/* -PRODUTOS */

.produtos {
  background: url(../img/panelas.png) no-repeat;
  background-size: cover;
  background-position: right;
  height: 602px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.prod-textos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 1214px;
  margin-right: 20px;
}
.txt {
  width: 500px;
  text-align: right;
}
.txt h1 {
  color: white;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.txt h2 {
  color: #421f20;
  margin-bottom: 35px;
}
.txt p {
  text-align: right;
  font-size: 24px;
  color: #421f20;
  margin-bottom: 50px;
  font-weight: lighter;
  line-height: 33px;
}

@media only screen and (min-width: 500px) and (max-width: 979px) {
  .produtos {
    background-position: right;
    height: 500px;
  }
  .txt {
    margin-right: 20px;
    width: 450px;
  }
  .txt p {
    font-size: 20px;
  }
}

/* -CASAL  */

.casal {
  height: 647px;
  background: url(../img/background.png);
  background-size: cover;
  text-align: center;
}
.casal h1 {
  padding: 120px 0 50px 0;
  color: #568265;
  text-transform: uppercase;
}
.casal-textos {
  width: 1214px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.descricao {
  text-align: left;
}
.casal-textos p {
  font-size: 24px;
  color: #421f20;
  line-height: 33px;
  width: 462px;
  margin-bottom: 60px;
  font-weight: lighter;
}
.casal-textos h2 {
  color: #421f20;
  margin-bottom: 30px;
}

.img-casal {
  border: solid 3px;
  padding: 20px;
  border-color: #421f20;
  border-radius: 5px;
}

@media only screen and (max-width: 899px) {
  .casal {
    height: 580px;
  }
  .casal-textos {
    justify-content: center;
    width: 100%;
  }

  .img-casal {
    display: none;
  }
  .casal-textos p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1213px) {
  .casal-textos {
    width: 100%;
    margin-left: 20px;
  }
  img {
    max-width: 100%;
    width: 100%;
  }

  .img-casal {
    border: none;
    min-width: 380px;

    margin-right: 20px;
  }
}

/* -COMPRE  */

.compre {
  background: url(../img/pimentas.png);
  background-size: cover;
  height: 482px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.compre-txt {
  width: 550px;
}
.compre-txt h1 {
  text-transform: uppercase;
  color: white;
  tab-size: 48px;
  margin-bottom: 60px;
}

.compre-txt h2 {
  color: white;
  text-align: center;
  text-transform: capitalize;
  line-height: 48px;
}
.compre-btn {
  margin-top: 40px;
}
@media only screen and (min-width: 500px) and (max-width: 979px) {
  .compre {
    height: 350px;
    padding: 20px 0;
  }
  .compre-txt {
    width: 450px;
  }
  .compre-txt h2 {
    font-size: 20px;
  }
  .compre-txt h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }
}
/* -FOOTER  */

footer {
  background-color: #421f20;
  padding: 30px 0;
  color: white;
}
.footer-txt {
  width: 1214px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
}
.footer-txt p {
  font-size: 18px;
}
.footer-txt div img {
  margin-left: 20px;
  max-width: 20px;
  max-height: 20px;
}
@media only screen and (min-width: 500px) and (max-width: 1230px) {
  .footer-txt {
    flex-direction: column;
    align-items: unset;
    text-align: center;
    width: 100%;
  }
  .footer-txt p {
    font-size: 14px;
    line-height: 40px;
  }
  .footer-txt div img {
    max-width: 20px;
    max-height: 20px;
    margin-left: 0;
    margin-right: 10px;
  }
}
